input {
  font-family: Merienda;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  &::-webkit-input-placeholder {
    font-family: Merienda;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  &::-moz-placeholder {
    font-family: Merienda;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  &:-ms-input-placeholder {
    font-family: Merienda;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
}
.button {
  width: 75px;
  height: 30px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  margin-right: 5px;
  border: none;

  font-family: Merienda;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  &__left {
    border-radius: 4px 0px 0px 4px;
  }
  &__right {
    border-radius: 0px 4px 4px 0px;
  }
}
.coffee {
  &__container {
    background: #ffffff;
  }
  &__introduction {
    display: flex;
    justify-content: center;
    background-image: url(../../img/CoffeePage/header.png);
    background-position: center;
    background-size: cover;
  }
  &__text {
    text-shadow: none;
    height: 46px;
    margin: 130px 0 84px;
  }
  &__beans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  &__beans-pic {
    margin-right: 70px;
  }
  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 57px 0 60px;
  }
  &__separator-line {
    width: 240px;
    height: 0px;
    border: 1px solid #000000;
  }
  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__filter-input {
    width: 180px;
    height: 30px;

    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
  }
  &__filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  &__card-container {
    background: #ffffff;
    padding-bottom: 30px;
  }
  &__card-wrapper {
    max-width: 802px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
