.about {
  &__us {
    height: 520px;
    background: #ffffff;
  }
  &__description {
    max-width: 589px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 80px;
  }
  &__us-subtitle {
    height: 26px;
    font-size: 24px;
    color: #000000;
  }
  &__line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 40px 49px;
    img {
      position: absolute;
    }
  }
  &__moto-line,
  &__moto-line-second {
    width: 60px;
    height: 0px;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0 40px;
  }
}
